{% extends "polls/base.html.j2" %}
{% block content %}
{% if latest_question_list %}
<ul>
{% for question in latest_question_list %}
<li><a href="{{url_for('polls.detail', question_id=question['id'])}}">{{question['question_text']}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>まだ調査はありません。</p>
{% endif %}
{% endblock  %}