{% extends 'blog/base.html.j2'%}
{% block header %}
<h1>
{% block title %}
編集
{% endblock title %}
</h1>
{% endblock header %}
{% block content %}
<form method="post">
<fieldset>
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<label for="title">題名</label>
<input type="text" name="title" id="title" value="{{ request.form['title'] or post['title']}}" required>
<label for="body">本文</label>
<textarea name="body" id="body">
{{ request.form['body'] or post['body']}}
</textarea>
<input type="submit" value="保存">
</fieldset>
</form>
<form method="post" action="{{ url_for('blog.delete', id=post['id'])}}">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<input id="danger" class="danger" type="submit" value="削除">
</form>
{% endblock content %}
{% block javascript %}
<script src="{{url_for('blog.static', filename='update.js')}}"></script>
{% endblock javascript %}